In [1]:
### https://www.kaggle.com/datasets/shivamb/netflix-shows ###

In [2]:
import sqlalchemy as sal

# Extraction

In [3]:
# Reading data

import pandas as pd

df = pd.read_csv('netflix_titles.csv')
print(df.head(5))

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

# Load

In [4]:
# PostgreSQL connection string

print('PostgreSQL connection about to start!!!')

DATABASE_URL = 'postgresql+psycopg2://postgres:ankit.raj@localhost:5432/postgres'
engine = sal.create_engine(DATABASE_URL)
conn = engine.connect()

print('PostgreSQL connection has been done!!!')

PostgreSQL connection about to start!!!
PostgreSQL connection has been done!!!

In [5]:
# Load the data into PostgreSQL using 'append' option
df.to_sql('netflix_raw', con=conn, index=False, if_exists='append')

conn.close()

In [6]:
## checking the particular column value using filter
df[df['show_id'] == 's2305']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2304,s2305,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,95 min,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol..."

In [7]:
## check the max column value length
max(df['date_added'].str.len())

#or
max(df.date_added.str.len())

19.0

In [8]:
## If max value of any column is giving 'nan' value, for this we should drop the 'nan' value from particular column
m1 = max(df['cast'].str.len())
print(m1)

## For that we should use dropna() function to drop the 'nan' value
m2 = max(df['cast'].dropna().str.len())
print(m2)

nan
771

In [9]:
df.isna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
## Check the count of nan values for all columns
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64